.header-container {
    border: 1px solid black;
    display: flex;
}

.header-1-container {
    border: 2px dotted red;
    display: flex;
    justify-content: space-around;
}

.links-container {
    display: flex;
}