/* Universal */

* {
    margin: 5px;
}


/* header-container */

.header-container {
    padding-inline: 40px;
    border: 1px solid black;
    display: block;
}

/* header-1-container */

.header-1-container {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    gap: 20px;
}

/* header-2-container */

.header-2-container {
    display: flex;
    justify-content: space-around;
}

.description-title {
    font-size: 48px;
    font-weight: 800;
}

.description {
    font-size: 18px;
}

/* button universal */

.button {
    border-radius: 5px;
}