/* Universal */

/*
* {
    margin: 5px;
}
*/



/* body */
body {
    margin: 0px;
}

/* header-container */

.header-container {
    padding: 5px;
    padding-inline: 70px;
    border: 2px solid black;

    display: block;
}

/* header-1-container */

.header-1-container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    gap: 20px;
}

/* header-2-container */

.description-container {
    font-family: Arial, Helvetica, sans-serif;
}

.header-2-container {
    display: flex;
    justify-content: space-around;
}

.description-title {
    font-size: 48px;
    font-weight: 600;
}

.description {
    font-size: 18px;
}

/* button universal */

.button {
    border-radius: 5px;
}




/* 2nd ancestor div element */



.info-container {
    display: block;
}

